---
export interface Props {
  title: string;
  subtitle: string;
  heading: string;
}

const { 
	title = `A new thing`,
	subtitle = `Deploy faster`,
	heading = `Praesent liliael elementum nunc, vel interdum orci. Etiam vitae liliael metus quis metus ullamcorper. Nam liliael sed lectus nec facilisis. Proin liliael nunc vel lorem venenatis, in fermentum nisi laoreet. Fusce liliael sed tincidunt risus. Vivamus vehicula, ante in fermentum hendrerit, velit massa liliael dictum leo, vitae feugiat est velit at ante.`
} = Astro.props;

---

<div class="a">
  <div class="b">
    <div class="c" aria-hidden="true">
      <div
        class="d"
        style="clip-path: polygon(63.1% 29.6%, 100% 17.2%, 76.7% 3.1%, 48.4% 0.1%, 44.6% 4.8%, 54.5% 25.4%, 59.8% 49.1%, 55.3% 57.9%, 44.5% 57.3%, 27.8% 48%, 35.1% 81.6%, 0% 97.8%, 39.3% 100%, 35.3% 81.5%, 97.2% 52.8%, 63.1% 29.6%);"
      >
      </div>
    </div><div class="e">
      <div class="f">
        <p class="g">{subtitle}</p><h1 class="h">{title}</h1><p
          class="i"
        >
          {heading}
        </p>
      </div><div class="j">
        <div class="k">
          <svg class="l" aria-hidden="true"
            ><defs class="m"
              ><pattern
                id="e87443c8-56e4-4c20-9111-55b82fa704e3"
                width="200"
                height="200"
                patternUnits="userSpaceOnUse"
                class="n"
                ><path d="M0.5 0V200M200 0.5L0 0.499983" class="o"
                ></path></pattern
              ></defs
            ><rect
              width="100%"
              height="100%"
              stroke-width="0"
              fill="url(#e87443c8-56e4-4c20-9111-55b82fa704e3)"
              class="p"></rect></svg
          ><figure class="q">
            <blockquote class="r">
              <p class="s">
                “Vel ultricies morbi odio facilisi ultrices accumsan donec lacus
                purus. Lectus nibh ullamcorper ac dictum justo in euismod. Risus
                aenean ut elit massa. In amet aliquet eget cras. Sem volutpat
                enim tristique.”
              </p>
            </blockquote><figcaption class="t">
              <img
                src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
                class="u"
              /><div class="v">
                <div class="w">Brenna Goyette</div><div class="x">@brenna</div>
              </div>
            </figcaption>
          </figure>
        </div><div class="y">
          <p class="z">
            Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus
            enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor
            praesent donec est. Odio penatibus risus viverra tellus varius sit
            neque erat velit. Faucibus commodo massa rhoncus, volutpat.
            Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae
            sed turpis id.
          </p><ul role="list" class="A">
            <li class="B">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="C"
                ><path
                  fill-rule="evenodd"
                  d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                  clip-rule="evenodd"
                  class="D"></path></svg
              ><span class="E"
                ><strong class="w">Push to deploy.</strong> Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Maiores impedit perferendis suscipit
                eaque, iste dolor cupiditate blanditiis ratione.</span
              >
            </li><li class="B">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="C"
                ><path
                  fill-rule="evenodd"
                  d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                  clip-rule="evenodd"
                  class="F"></path></svg
              ><span class="G"
                ><strong class="w">SSL certificates.</strong> Anim aute id magna
                aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.</span
              >
            </li><li class="B">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                class="C"
                ><path
                  d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z"
                  class="H"></path><path
                  fill-rule="evenodd"
                  d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
                  clip-rule="evenodd"
                  class="I"></path></svg
              ><span class="J"
                ><strong class="w">Database backups.</strong> Ac tincidunt sapien
                vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</span
              >
            </li>
          </ul><p class="K">
            Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis
            odio id et. Id blandit molestie auctor fermentum dignissim. Lacus
            diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices
            hac adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem
            vel integer orci.
          </p><h2 class="L">No server? No problem.</h2><p class="M">
            Id orci tellus laoreet id ac. Dolor, aenean leo, ac etiam consequat
            in. Convallis arcu ipsum urna nibh. Pharetra, euismod vitae interdum
            mauris enim, consequat vulputate nibh. Maecenas pellentesque id sed
            tellus mauris, ultrices mauris. Tincidunt enim cursus ridiculus mi.
            Pellentesque nam sed nullam sed diam turpis ipsum eu a sed convallis
            diam.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .a {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    display: contents;
  }
  .b {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    position: relative;
    isolation: isolate;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .c {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    position: absolute;
    top: -20rem;
    left: max(6rem, 33%);
    z-index: -10;
    transform: matrix(1, 0, 0, 1, 0, 0);
    filter: blur(64px);
  }
  .d {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    aspect-ratio: 801 / 1036;
    width: 50.0625rem;
    background-image: linear-gradient(
      to right top,
      rgb(255, 128, 181),
      rgb(144, 137, 252)
    );
    opacity: 0.3;
  }
  .e {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .f {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
  }
  .g {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: rgb(79, 70, 229);
  }
  .h {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 2.25rem;
    letter-spacing: -0.025em;
    color: rgb(17, 24, 39);
  }
  .i {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-top: 1.5rem;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 1.25rem;
    line-height: 2rem;
    color: rgb(55, 65, 81);
  }
  .j {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    display: grid;
    max-width: 42rem;
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    column-gap: 2rem;
    row-gap: 4rem;
  }
  .k {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    position: relative;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .l {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    display: block;
    vertical-align: middle;
    position: absolute;
    height: 64rem;
    width: 175.5rem;
    top: -40rem;
    right: 0px;
    bottom: 0px;
    left: 0.25rem;
    z-index: -10;
    transform: matrix(1, 0, 0, 1, -1404, 0);
    stroke: rgba(17, 24, 39, 0.1);
    -webkit-mask-image: radial-gradient(
      64rem 64rem at 111.5rem 0%,
      white,
      transparent
    );
  }
  .m {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .n {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .o {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .p {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .q {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: ;
    border-right-color: ;
    border-bottom-color: ;
    border-left-color: ;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    /* position: absolute; */
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding-left: 2rem;
  }
  .r {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 1.11111em;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    color: rgb(17, 24, 39);
  }
  .s {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .t {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-top: 2rem;
    margin-bottom: 0px;
    font-size: 0.857143em;
    line-height: 1.33333;
    display: flex;
    column-gap: 1rem;
  }
  .u {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: 2.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1.71429em;
    width: 2.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    background-color: rgb(249, 250, 251);
  }
  .v {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  .w {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    font-weight: 600;
    color: rgb(17, 24, 39);
  }
  .x {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    color: rgb(75, 85, 99);
  }
  .y {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    /* position: absolute; */
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-width: 36rem;
    font-size: 1rem;
    line-height: 1.75rem;
    color: rgb(55, 65, 81);
  }
  .z {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .A {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    margin-top: 2rem;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: 36rem;
    color: rgb(75, 85, 99);
  }
  .B {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    display: flex;
    column-gap: 0.75rem;
  }
  .C {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    display: block;
    vertical-align: middle;
    margin-top: 0.25rem;
    height: 1.25rem;
    width: 1.25rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    color: rgb(79, 70, 229);
  }
  .D {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
  }
  .E {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
  }
  .F {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
  }
  .G {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
  }
  .H {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
  }
  .I {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
  }
  .J {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
  }
  .K {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-top: 2rem;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .L {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 2rem;
    letter-spacing: -0.025em;
    color: rgb(17, 24, 39);
  }
  .M {
    box-sizing: border-box;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(229, 231, 235);
    border-right-color: rgb(229, 231, 235);
    border-bottom-color: rgb(229, 231, 235);
    border-left-color: rgb(229, 231, 235);
    margin-top: 1.5rem;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
</style>
