<div class="a" style="">
  
  <div class="b">
    <div class="c">
      <div class="d">
        <h2 class="e">Deploy faster</h2>
        <p class="f">Everything you need to deploy your app</p>
        <p class="g">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p>
      </div>
      <div class="h">
        <dl class="i">
          <div class="j">
              <dt class="k">
                <div class="l">
                  <svg class="m" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" class="n"></path>
</svg>
                </div>
                Push to deploy
              </dt>
              <dd class="o">Morbi viverra dui mi arcu sed. Tellus semper adipiscing suspendisse semper morbi. Odio urna massa nunc massa.</dd>
            </div>
          <div class="j">
              <dt class="k">
                <div class="l">
                  <svg class="m" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" class="p"></path>
</svg>
                </div>
                SSL certificates
              </dt>
              <dd class="o">Sit quis amet rutrum tellus ullamcorper ultricies libero dolor eget. Sem sodales gravida quam turpis enim lacus amet.</dd>
            </div>
          <div class="j">
              <dt class="k">
                <div class="l">
                  <svg class="m" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" class="q"></path>
</svg>
                </div>
                Simple queues
              </dt>
              <dd class="o">Quisque est vel vulputate cursus. Risus proin diam nunc commodo. Lobortis auctor congue commodo diam neque.</dd>
            </div>
          <div class="j">
              <dt class="k">
                <div class="l">
                  <svg class="m" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" class="r"></path>
</svg>
                </div>
                Advanced security
              </dt>
              <dd class="o">Arcu egestas dolor vel iaculis in ipsum mauris. Tincidunt mattis aliquet hac quis. Id hac maecenas ac donec pharetra eget.</dd>
            </div>
          
        </dl>
      </div>
    </div>
  </div>

</div>
<style>
.a {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);

}
.b {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
background-color: rgb(255, 255, 255)padding-top: 6rem;
padding-bottom: 6rem;

}
.c {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
margin-left: auto;
margin-right: auto;
max-width: 80rem;
padding-left: 1.5rem;
padding-right: 1.5rem;

}
.d {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
margin-left: auto;
margin-right: auto;
max-width: 42rem;

}
.e {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
font-size: 1rem;
font-weight: 600;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
line-height: 1.75rem;
color: rgb(79, 70, 229)
}
.f {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
margin-top: 0.5rem;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
font-size: 1.875rem;
line-height: 2.25rem;
font-weight: 700;
letter-spacing: -0.025em;
color: rgb(17, 24, 39)
}
.g {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
margin-top: 1.5rem;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
font-size: 1.125rem;
line-height: 2rem;
color: rgb(75, 85, 99)
}
.h {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
margin-left: auto;
margin-right: auto;
margin-top: 4rem;
max-width: 42rem;

}
.i {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
display: grid;
max-width: 36rem;
grid-template-columns: repeat(1, minmax(0px, 1fr));
column-gap: 2rem;
row-gap: 2.5rem;

}
.j {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
position: relative;
padding-left: 4rem;

}
.k {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
font-size: 1rem;
line-height: 1.75rem;
font-weight: 600;
color: rgb(17, 24, 39)
}
.l {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
position: absolute;
left: 0px;
top: 0px;
display: flex;
height: 2.5rem;
width: 2.5rem;
align-items: center;
justify-content: center;
border-top-left-radius: 0.5rem;
border-top-right-radius: 0.5rem;
border-bottom-right-radius: 0.5rem;
border-bottom-left-radius: 0.5rem;
background-color: rgb(79, 70, 229)
}
.m {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
display: block;
vertical-align: middle;
height: 1.5rem;
width: 1.5rem;
color: rgb(255, 255, 255)
}
.n {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);

}
.o {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);
margin-top: 0.5rem;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
font-size: 1rem;
line-height: 1.75rem;
color: rgb(75, 85, 99)
}
.p {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);

}
.q {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);

}
.r {
	box-sizing: border-box;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(229, 231, 235);
border-right-color: rgb(229, 231, 235);
border-bottom-color: rgb(229, 231, 235);
border-left-color: rgb(229, 231, 235);

}
</style>