---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PlainText from "../core/components/PlainText.svelte";
import RichText from "../core/components/RichText.svelte";
import MyCounter from "../core/components/MyCounter.svelte";
import RTFFragment from "../core/components/RTFFragment.svelte";
import EditorToolbar from "../cms/components/EditorToolbar.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

// import { a as AReff } from "./r/a.re3";

const locals = Astro.locals;

const cms = locals.cms;

// Convert Map to array of key-value pairs
const arrayOfPairs = JSON.stringify(Array.from(cms.kv));
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    {arrayOfPairs}
  </body>
</html>
