---
import { extractFilename } from "../../helpers/url";
import MiniEditor from "../../mini-editor/MiniEditor.svelte";

const myURL = extractFilename(import.meta.url);

const { get } = await import(`./${myURL}.json.js`);
const data = await get();
---

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <style type="text/css">
      .body {
        width: auto;
      }
    </style>
  </head>
  <body>
    <MiniEditor data={data} client:load />
  </body>
</html>
